@use "../../../../sass/colors" as c;

%text-align-transform {
  text-align: left;
  text-transform: capitalize;
}

.host {
  background-color: c.$bg_2;
  min-width: 14rem;
  width: 100%;
  height: max-content;
  min-height: 13rem;
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  gap: 0.2rem;
  font-size: 0.8rem;
  color: c.$text_2;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  border: {
    radius: 0.8rem;
    width: 1px;
    style: solid;
    color: c.$bg_3;
  }
  @extend %text-align-transform;

  & * {
    width: fit-content;
  }

  &:hover {
    background: #1f1f1f;

    .option_icon {
      display: flex;
    }
  }

  &:active {
    background-color: c.$bg_1;
  }

  .bg {
    padding: 0.3rem;
    border-radius: 0.3rem;

    &:hover {
      background-color: c.$bg_2;
    }
  }

  .option_icon {
    border: 1px solid c.$bg_5;
    background-color: c.$bg_2;
    display: none;
    position: absolute;
    right: 0.6rem;
    top: 0.4rem;

    &:hover {
      background-color: c.$bg_4;
    }
  }

  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: c.$blue;
    opacity: 0.2;
  }

  a {
    color: c.$text_2;
    text-transform: none;
  }

  .manager-div {
    display: flex;
    justify-items: center;
    align-items: center;

    .image {
      display: flex;
      place-content: center;
      border-radius: 1rem;
      overflow: hidden;
      margin-right: 0.4rem;
      img {
        height: 1.8cap;
        aspect-ratio: 1;
      }
    }
  }

  .skills {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    flex-wrap: wrap;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  position: relative;

  .input {
    background: transparent;
    border: 0;
    outline: none;
    color: c.$text_2;
    width: 100%;
    text-align: left;
    padding-right: 1.8rem;

    &::placeholder {
      color: c.$bg_6;
    }
  }
  .name {
    font-size: 1.1rem;
  }

  .submit-btn {
    position: absolute;
    bottom: -0.5rem;
    right: -0.5rem;
  }
}
