@if (focus()?.id===user().id) {
<div class="backdrop"></div>
}
<at-action-button
  class="option_icon"
  [icon]="optionIcon"
  (click)="toggleMenu($event)"
></at-action-button>
<div class="bg" title="Name">
  <h2>{{ user().name }}</h2>
</div>
<div class="bg" title="Email">
  <a [href]="user().email" target="_blank">{{ user().email }}</a>
</div>
<div class="manager-div bg" title="Hiring Manager">
  <div class="image">
    <img
      src="https://img.icons8.com/?size=100&id=kDoeg22e5jUY&format=png&color=000000"
      loading="lazy"
      alt="avatar"
    />
  </div>
  <span>{{ user().hiringManager }}</span>
</div>
<div class="bg" title="Location">
  <p
    atHighlight="location"
    [viewValue]="user().location"
    textTransform="capitalize"
  >
    {{ user().location }}
  </p>
</div>
<div class="bg" title="Role">
  <p atHighlight="role" [viewValue]="user().role" textTransform="capitalize">
    {{ user().role }}
  </p>
</div>
<div class="skills bg" title="Skills">
  @for (skill of user().skills; track $index) {
  <p>{{ skill }}</p>
  }
</div>
