$main_bg: #040404;
$bg_1: #121212;
$bg_2: #1a1a1a;
$bg_3: #272727;
$bg_4: #353535;
$bg_5: #404040;
$bg_6: #4b4b4b;
$bg_7: #545454;

$text_1: #fff;
$text_2: #acaaaa;
$text_3: #7e7c7c;

$green: #2a9d8f;
$blue: #457b9d;
$red: #bc4749;
$orange: #bc6c25;
$yellow: #dda15e;
