@if (selectedPeek()==='center') {
<div id="backdrop" (click)="onClose()"></div>
}
<section
  [class]="{
    default: true,
    side: selectedPeek()==='side',
    center: selectedPeek()==='center',
  }"
>
  <article class="controls">
    <at-action-button
      [icon]="closeBtnIcon"
      [size]="18"
      title="Close"
      (click)="onClose()"
    />
    <div class="view-opt-container">
      <at-action-button
        [icon]="selectedPeek() === 'side' ? fullscreenIcon : sideScreenIcon"
        [size]="16"
        [title]="selectedPeek() === 'side' ? 'Modal View' : 'Side View'"
        (click)="
          selectedPeek.set(selectedPeek() === 'side' ? 'center' : 'side')
        "
      />
    </div>
    <div
      [style]="{
        display: 'flex'
      }"
    >
      <at-action-button
        [icon]="upArrow"
        [size]="18"
        [title]="prevButtonIsDisabled() ? '' : 'prev'"
        (click)="!prevButtonIsDisabled() && changeApplicant('prev')"
        [class.disabled]="prevButtonIsDisabled()"
      /><at-action-button
        [icon]="downArrow"
        [size]="18"
        [title]="nextButtonIsDisabled() ? '' : 'next'"
        (click)="!nextButtonIsDisabled() && changeApplicant('next')"
        [class.disabled]="nextButtonIsDisabled()"
      />
    </div>
  </article>

  <form [formGroup]="form" class="info">
    <input
      type="text"
      name="newInputValue"
      id="newInputValue"
      class="name"
      formControlName="name"
      #newNameInput
    />
    <div class="property-container">
      <div class="property">
        <div class="key">
          <p class="key-data">role</p>
        </div>
        <div class="value">
          <input formControlName="role" />
        </div>
      </div>
      <div class="property">
        <div class="key">
          <p class="key-data">email</p>
        </div>
        <div class="value">
          <input formControlName="email" />
        </div>
      </div>
      <div class="property">
        <div class="key">
          <p class="key-data">employment</p>
        </div>
        <div class="value">
          <input formControlName="employment" />
        </div>
      </div>
      <div class="property">
        <div class="key">
          <p class="key-data">location</p>
        </div>
        <div class="value">
          <input formControlName="location" />
        </div>
      </div>
      <div class="property">
        <div class="key">
          <p class="key-data">skills</p>
        </div>
        <div class="value">
          <input formControlName="skills" />
        </div>
      </div>
      <div class="property">
        <div class="key">
          <p class="key-data">source</p>
        </div>
        <div class="value">
          <input formControlName="source" />
        </div>
      </div>
      <div class="property">
        <div class="key">
          <p class="key-data">stage</p>
        </div>
        <div class="value">
          <input formControlName="stage" />
        </div>
      </div>
      <div class="property">
        <div class="key">
          <p class="key-data">website</p>
        </div>
        <div class="value">
          <input formControlName="website" />
        </div>
      </div>
      <div class="property">
        <div class="key">
          <p class="key-data">attachments</p>
        </div>
        <div class="value">
          <input formControlName="attachments" />
        </div>
      </div>
      <div class="property">
        <div class="key">
          <p class="key-data">hiring manager</p>
        </div>
        <div class="value">
          <input formControlName="hiringManager" />
        </div>
      </div>
      <div class="property">
        <div class="key">
          <p class="key-data">added</p>
        </div>
        <div class="value">
          <input formControlName="added" />
        </div>
      </div>
    </div>
    <article class="extras">
      <div class="comments">
        <h5>Comments</h5>
        <input
          type="text"
          name="comment"
          id="comment"
          placeholder="Add a comment..."
          (change)="addComment()"
          #newCommentInput
        />
        <ul class="comments-container">
          @for (comment of comments(); track $index) {
          <div>
            <li>{{ comment.value }}</li>
          </div>
          }
        </ul>
      </div>
    </article>
  </form>
</section>
