@use "../../../../sass/colors" as c;

section {
  background-color: c.$bg_2;
  position: absolute;
  inset: 0 0 0 50%;
  padding: 0.6rem;
  display: grid;
  grid-template-rows: 1fr 14fr;
  gap: 1rem;

  .controls {
    width: fit-content;
  }

  .info {
    padding: 0 4rem;

    h1 {
      margin-block: 0.67rem;
      font-size: 2rem;
      text-align: left;
      text-transform: capitalize;
      font-weight: 600;
      color: c.$text_1;
    }

    .property-container {
      width: 100%;
      height: fit-content;
      display: grid;
      gap: 0.2rem;
      align-items: center;
      margin-bottom: 2.6rem;

      .property {
        display: grid;
        grid-template-columns: 1fr 3.5fr;
        gap: 0.4rem;

        div.key p,
        div.value p {
          padding: 0.6rem 0.4rem;
          width: 100%;
          font-size: 0.9rem;
          text-align: left;
          cursor: pointer;
        }

        div.key {
          color: c.$text_3;
          text-transform: capitalize;
          border-radius: 0.4rem;
          position: relative;
          &:hover {
            background-color: c.$bg_3;
          }
        }

        div.value {
          border-radius: 0.4rem;
          display: flex;
          align-items: center;
          padding: 0 0.4rem;
          gap: 0.4rem;
          position: relative;

          p {
            width: fit-content;
          }

          &:hover {
            background-color: c.$bg_3;
          }

          .value-menu {
            position: absolute;
            width: 100%;
            left: 0;
            top: 34px;
            z-index: 24;

            .content {
              padding: 0.6rem;

              span {
                font-size: 0.8rem;
              }

              .values {
                // background-color: yellow;
                display: flex;
                flex-direction: column;
                p {
                  all: unset;
                }
              }
            }
          }
        }

        p.empty-value {
          font-style: oblique;
          color: c.$bg_5;
        }
      }
    }

    .extras {
      .comments {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;

        input {
          background: none;
          border: 0;
          border-bottom: thin solid c.$bg_4;
          color: c.$text_3;
          padding: 1rem 0;
          outline: none;
          font-size: 0.8rem;
          text-align: left;
          font-weight: 600;
        }
      }
    }
  }
}
