<section>
  <article class="controls">
    <at-action-button
      [icon]="closeBtnIcon"
      [size]="18"
      title="Close"
      (click)="onClose()"
    />
    <div
      [style]="{
        display: 'flex'
      }"
    >
      <at-action-button
        [icon]="upArrow"
        [size]="18"
        [title]="prevButtonIsDisabled() ? '' : 'prev'"
        (click)="!prevButtonIsDisabled() && changeApplicant('prev')"
        [class.disabled]="prevButtonIsDisabled()"
      /><at-action-button
        [icon]="downArrow"
        [size]="18"
        [title]="nextButtonIsDisabled() ? '' : 'next'"
        (click)="!nextButtonIsDisabled() && changeApplicant('next')"
        [class.disabled]="nextButtonIsDisabled()"
      />
    </div>
  </article>
  <article class="info">
    <input
      type="text"
      name="newInputValue"
      id="newInputValue"
      class="name"
      [value]="applicant()?.name"
      (keyup)="debouncedUpdateValue('name', newNameInput.value)"
      #newNameInput
    />
    <div class="property-container">
      @for (entry of entries(); track $index) {
      <div class="property">
        <div class="key">
          <p [title]="entry[0]" class="key-data">
            {{ entry[0] === "hiringManager" ? "hiring manager" : entry[0] }}
          </p>
        </div>
        <div
          class="value"
          (click)="toggleValueMenu($event, entry[0])"
          [style]="{
            backgroundColor: isEditingValue(entry[0]) ? '#404040' : ''
          }"
        >
          @if(typeof entry[1]==='object' && entry[1].length>0){ @for (item of
          entry[1]; track $index){
          <p
            [title]="entry[1][$index]"
            [atHighlight]="entry[0]"
            [viewValue]="entry[1]"
            fontSize="1rem"
            class="value-data"
            textTransform="capitalize"
          >
            {{ entry[1][$index] }}
            @if (isEditingValue(entry[0])) {
            <span>
              <lucide-icon
                [img]="closeBtnIcon2"
                size="13"
                class="icon"
                title="remove"
                (click)="removeValue($event, entry[0], entry[1][$index])"
              ></lucide-icon>
            </span>
            }
          </p>
          }}@else{
          <p
            [class]="{
              'value-data': true,
              'empty-value': !entry[1] || entry[1].length === 0
            }"
            [title]="entry[1]"
            fontSize="1rem"
            [textTransform]="
              !['email', 'website'].includes(entry[0]) ? 'capitalize' : ''
            "
            atHighlight
          >
            @if (entry[0]==='hiringManager') {
            <span class="image">
              <img
                src="https://img.icons8.com/?size=100&id=kDoeg22e5jUY&format=png&color=000000"
                loading="lazy"
                alt="avatar"
              />
            </span>
            }
            {{
              entry[0] === "added"
                ? (entry[1] | date : "medium")
                : !entry[1] || entry[1].length === 0
                ? "empty"
                : entry[1]
            }}
          </p>
          }
        </div>
        @if (isEditingValue(entry[0])) {
        <at-popup-menu class="value-menu" backgroundColor="#272727">
          <div class="content">
            @if(isEditingValue('email') || isEditingValue('website')){
            <div class="new-input-div">
              <input
                type="text"
                name="newInputValue"
                id="newInputValue"
                [value]="entry[1]"
                (keyup)="debouncedUpdateValue(entry[0], newInfoInput.value)"
                #newInfoInput
              />
            </div>
            }@else {
            <span>select an option or create one</span>
            <div class="values">
              @for (item of openedMenuValues(); track $index) {
              <div class="value-holder" (click)="updateValue(entry[0], item)">
                <p class="value">
                  {{ item }}
                </p>
              </div>
              }
            </div>
            }
          </div>
        </at-popup-menu>
        }
      </div>
      }
    </div>
    <article class="extras">
      <div class="comments">
        <h5>Comments</h5>
        <input
          type="text"
          name="comment"
          id="comment"
          placeholder="Add a comment..."
          (change)="addComment()"
          #newCommentInput
        />
        <ul class="comments-container">
          @for (comment of comments(); track $index) {
          <div>
            <li>{{ comment.value }}</li>
          </div>
          }
        </ul>
      </div>
    </article>
  </article>
</section>
