<section id="controllers">
  <article class="switch-action-buttons">
    @for(btn of switchButtons; track $index){
    <div
      [class]="{
        'border-bottom': true,
        'border-bottom-color': selectedView() === btn.view
      }"
    >
      <at-action-button
        [icon]="btn.icon"
        [name]="btn.name"
        (click)="onClick(btn.view)"
      ></at-action-button>
    </div>
    }
  </article>
  <article class="modifier-action-buttons">
    @for(btn of modifierButtons; track $index){
    <div [title]="btn.name">
      @if (btn.name==='search') {
      <at-action-button
        [color]="searchOpen() || searchText() ? '#4361ee' : '#7e7c7c'"
        [icon]="searchOpen() ? closeSearchIcon : btn.icon"
        (click)="toggleSearch()"
      ></at-action-button>
      }@else {
      <at-action-button [icon]="btn.icon"></at-action-button>
      }
    </div>
    } @if (searchOpen()) {
    <div class="input-holder">
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Type to search..."
        [(ngModel)]="searchText"
        (ngModelChange)="debouncedTextChange()"
      />
    </div>
    }
  </article>
</section>
<at-summary-content [view]="selectedView()"></at-summary-content>
