<section id="controllers">
  <article class="switch-action-buttons">
    @for(btn of switchButtons; track $index){
    <div
      [class]="{
        'border-bottom': true,
        'border-bottom-color': selectedView() === btn.view
      }"
    >
      <at-action-button
        [icon]="btn.icon"
        [name]="btn.name"
        (click)="onClick(btn.view)"
      ></at-action-button>
    </div>
    }
  </article>
  <article class="modifier-action-buttons">
    @for(btn of modifierButtons; track $index){
    <div [title]="btn.name">
      <at-action-button [icon]="btn.icon"></at-action-button>
    </div>
    }
  </article>
</section>
<section id="content">
  <at-summary-content [view]="selectedView()"></at-summary-content>
</section>
