:host {
  padding: 0.4rem 6rem;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;

  #controllers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;

    .modifier-action-buttons {
      div {
        @extend .border-bottom;
      }
    }
  }
}

.border-bottom {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.border-bottom-color {
  border-bottom-color: #fff;
}
