<section id="controllers">
  <article class="switch-action-buttons">
    <div>
      <at-action-button [icon]="groupIcon" name="by stage"></at-action-button>
    </div>
    <div>
      <at-action-button
        [icon]="tableIcon"
        name="all applicants"
      ></at-action-button>
    </div>
    <div>
      <at-action-button
        [icon]="tableIcon"
        name="engineering"
      ></at-action-button>
    </div>
    <div>
      <at-action-button [icon]="tableIcon" name="table"></at-action-button>
    </div>
  </article>
  <article class="modifier-action-buttons">
    <div>
      <at-action-button [icon]="filterIcon"></at-action-button>
    </div>
    <div>
      <at-action-button [icon]="sortIcon"></at-action-button>
    </div>
    <div>
      <at-action-button [icon]="searchIcon"></at-action-button>
    </div>
  </article>
</section>
<section id="content">
  <p>summary</p>
</section>
