<div>
  <p class="image-holder">
    <img
      src="https://notion-emojis.s3-us-west-2.amazonaws.com/prod/svg-twitter/1f4ee.svg"
      loading="lazy"
      alt="icon"
    />
  </p>
  <h1>Applicant Tracker</h1>
</div>
<p class="info">
  Use this template to schedule and track candidates moving through your
  recruiting process. Open any page to capture application materials, notes from
  interviewers, next steps, and more. Anyone on any team can contribute to the
  process directly.
</p>
<p class="info-2">
  ↓ Click <span>By Stage</span> to organize this info as a table or see only
  engineering candidates.
</p>
