<section class="filter-container">
  <at-action-button
    [icon]="this.sortCriteria().order === 'asc' ? upArrowIcon : downArrowIcon"
    [name]="this.sortCriteria().key"
    color="#22648d"
    class="selected-option"
    (click)="toggleSelectingOption()"
  ></at-action-button>
  @if (isSelectingOption()) {
  <at-popup-menu class="option-detail">
    <div class="controls">
      <select name="key" id="key" (change)="onSelectOption($event, 'key')">
        @for (key of keys; track $index) {
        <option [value]="key" [selected]="key === this.sortCriteria().key">
          {{
            key === "hiringManager"
              ? "Hiring Manager"
              : key.split("")[0].toUpperCase() +
                key.split("").splice(1, key.length).join("")
          }}
        </option>
        }
      </select>
      <select
        name="order"
        id="order"
        (change)="onSelectOption($event, 'order')"
      >
        <option
          value="desc"
          class="opt"
          [selected]="this.sortCriteria().order === 'desc'"
        >
          Descending
        </option>
        <option value="asc" [selected]="this.sortCriteria().order === 'asc'">
          Ascending
        </option>
      </select>
    </div>
    <at-action-button
      [icon]="deleteIcon"
      name="Delete Sort"
      class="delete-sort"
      color="#c72326"
      (click)="onDeleteSort()"
    ></at-action-button>
  </at-popup-menu>
  }
</section>
