<at-popup-menu>
  @if (!isSubsectionOpen) {
  <article>
    <at-action-button
      [icon]="duplicateIcon"
      name="Duplicate"
      class="option"
      (click)="onDuplicate()"
    ></at-action-button>
    <at-action-button
      [icon]="moveIcon"
      name="Move to"
      class="option"
      (click)="toggleSubsection()"
    ></at-action-button>
    <at-action-button
      [icon]="deleteIcon"
      name="Delete"
      class="option"
      color="red"
      (click)="onDelete()"
    ></at-action-button>
  </article>
  } @else {
  <article class="sub-section">
    @for (stage of stages(); track $index) {
    <div class="sub-option" (click)="onMove(stage.value)">
      <div>
        <lucide-icon [img]="dragIcon" size="16" class="icon"></lucide-icon>
      </div>
      <span atHighlight="stage" [viewValue]="stage.value" fontSize="0.8rem">{{
        stage.name
      }}</span>
    </div>
    }
  </article>
  }
</at-popup-menu>
