@use "../../../../../sass/colors" as c;

:host {
  position: fixed;
  z-index: 16;
}

.option {
  justify-content: flex-start;
  gap: 0.8rem;
  padding: 0.4rem;
}

.sub-option {
  padding: 0.4rem;
  gap: 0.4rem;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  cursor: pointer;

  &:hover {
    background-color: c.$bg_3;
  }

  .icon {
    height: fit-content;
    display: flex;
  }
}
