@use "../../../../sass/colors" as c;

table {
  border-top: 1px solid c.$bg_4;
  border-bottom: 1px solid c.$bg_4;
  border-collapse: collapse;
  min-width: max-content;
  width: 100%;

  th {
    color: c.$text_3;
    border: 1px solid c.$bg_4;
    text-align: left;
    padding: 0.3rem;

    &:hover {
      background-color: c.$bg_3;
    }
  }

  .key {
    font-size: 0.8rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 0.2rem;

    .icon {
      display: flex;
    }
  }

  td {
    color: c.$text_1;
    border: 1px solid c.$bg_4;
    text-align: left;
    padding: 0.3rem;
    cursor: pointer;
    min-width: fit-content;
    max-width: 12rem;
    position: relative;

    &:hover {
      background-color: c.$bg_3;
    }
  }

  th:nth-child(2),
  td:nth-child(2) {
    border-left: 0;
  }

  .highlight {
    background-color: #001b2c;
    border: 2px solid c.$blue;
  }

  p {
    display: inline-flex;
    margin: 0.1rem;

    .image {
      display: flex;
      place-content: center;
      border-radius: 1rem;
      overflow: hidden;
      margin-right: 0.4rem;
      img {
        height: 1.8cap;
        aspect-ratio: 1;
      }
    }
  }

  p.image-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  p.underline {
    text-decoration: underline;

    a {
      text-decoration: none;
      color: #c9c5c5;
    }
  }

  th:last-child,
  td:last-child {
    border-right: 0;
  }

  .value-menu {
    width: fit-content;
    position: absolute;
    left: 0;
    top: 2.4rem;
    display: block;
    z-index: 24;

    .content {
      padding: 0.2rem;

      .input-div {
        display: flex;
        flex-direction: row;
        gap: 0.4rem;
        align-items: center;

        .icon {
          padding: 0.3rem;
          border-radius: 0.2rem;

          &:hover {
            background-color: c.$green;
          }
        }

        input {
          background-color: c.$bg_3;
          padding: 0.2rem;
          color: c.$text_1;
          word-wrap: break-word;
          border: 0;
          border-radius: 0.2rem;
          outline: none;
        }
      }

      .values {
        display: flex;
        flex-direction: column;

        .new-item {
          background-color: c.$bg_4;
        }

        label {
          font-size: 0.7rem;
          font-style: italic;
          color: c.$text_3;
          text-align: left;
          margin: 0.4rem 0;
        }

        .item {
          text-transform: capitalize;
          font-size: 0.8rem;
          padding: 0.2rem;
          border-radius: 0.2rem;
          color: c.$text_2;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .icon {
            padding: 0;
          }

          &:hover {
            background-color: c.$red;
          }
        }
      }
    }
  }
}
